<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_Ayllu"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKUhQCaQPifKFSRDboyUHxKujwqNKyNm8" />

        <activity
            android:name=".MostrarCategorias"
            android:exported="true" />
        <activity
            android:name=".ListarProblemas.ListarProblemasPobreza"
            android:exported="false" />
        <activity
            android:name=".MapsProblema.SeleccionarUbicacionProblema"
            android:exported="false" />
        <activity
            android:name=".ListarProblemas.ListarProblemasDesigualdad"
            android:exported="false" />
        <activity
            android:name=".ListarProblemas.ListarProblemasDelincuencia"
            android:exported="false" />
        <activity
            android:name=".RegistrarProblema"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReportarProblema"
            android:exported="false" />
        <activity
            android:name=".ListarProblemas.ListarProblemas"
            android:exported="true" />
        <activity
            android:name=".ListarProblemas.ListarProblemasContaminacion"
            android:exported="false" />
        <activity
            android:name=".profile_user"
            android:exported="false" />
        <activity
            android:name=".frag_cate_publi"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".TermsCondition"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".RecoverPass"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>